// Os estilos dos components estão em general.scss
@import 'general';

// Estilo das seções
.section {
	margin-bottom: 42px;

	h2 {
		color: $darkblue;
		text-align: center;
	}
}

// Produto

.product-main {
	display: flex;
	
	.product-mini,
	.product-big {
	  padding: 2px;

	  img {
	    border: 1px solid lighten($gray, 20);
	  }
	}

	.product-mini {
	  max-width: 65px;
	  margin-right: 22px;
	}

	.product-big {
		max-width: 402px;
	}


	.product-details {
		padding-left: 12px;

		h1 {
			margin-bottom: 32px;
		}

		.price {
			background-color: lighten($gray, 25);
			margin-left: -12px;
			padding: 18px;
			margin-bottom: 16px;

			p {
				margin: 0 0 10px;
			}

			.big {
				font-size: 2.2em;
				color: $blue;
				font-weight: 800;
			}

			.btn {
				margin-top: 10px
			}
		}

		.frete {
			background-color: $blue;
			border-radius: 4px;
			padding: 24px;
			margin: 0 12px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			
			p {
				margin-top: 0;
			}

			form {
				display: flex;
			}

			input {
				padding: 12px;
				margin-right: 10px;
				width: 100%;
			}

			.small {
				max-width: 40px;
			}
		}
	}
}

// Descrição do produto
.product-description {
	h2 {
		color: $darkblue;
		text-align: center;
	}

	p {
		font-size: .9em;
	}
}

// Produtos relacionados
.related-products {
	h2 {
		width: 100%;
	}

	.products {
		display: flex;
		justify-content: space-between;
		max-width: 660px;
		margin: auto;
	}
}

@media screen and (max-width: 992px){
	.product-main {
		flex-flow: row wrap;
		justify-content: center;

		.product-mini {
			display: none;
		}

		.product-details {
			width: 100%;
			padding-left: 0;
			margin-top: 22px;

			.price,
			.frete {
				width: 48%;
				height: 180px;
				margin: 0;
				box-sizing: border-box;
			}

			.price {
				float: left;
			}

			.frete {
				float: right;
				
				form {
					flex-flow: row wrap;
					justify-content: space-between;

					input {
						max-width: calc(100% - 100px);
						margin-bottom: 12px;

						&:last-of-type {
							margin-right: 0;
						}
					}
				}

				.btn {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 590px){
	.product-main {
		flex-flow: row wrap;
		justify-content: center;
		
		.product-big {
			 margin-bottom: 22px;
		}

		.product-details {
			width: 100%;

			.price,
			.frete {
				float: none;
				width: 100%;
				max-width: 350px;
				margin-bottom: 12px;
			}
		}
	}

	// Produtos relacionados
	.related-products {
		.products {
			flex-flow: column nowrap;
			align-items: center;
		}
	}
}