// Os estilos dos components estão em general.scss
@import 'general';

.footer {
	display: flex;
	
	.footer-left,
	.footer-right {
		padding: 14px 32px;
	}

	.footer-left {
		background-color: $darkblue;
		width: 25%;
		display: flex;
		justify-content: flex-end;
	}

	.footer-right {
		display: flex;
		align-items: center;
		background-color: $blue;
		color: #fff;
		width: 75%;

		p {
			font-size: .8em;
		}
	}
}

@media screen and (max-width: 768px){
	.footer {
		flex-flow: row wrap;

		.footer-left,
		.footer-right {
			width: 100%;
			justify-content: center;
			padding: 8px 32px;
		}
	}
}