/* 
* Background property:
* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
*
* Font property:
* font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;
*/

/* Cores */
$darkblue: #0f4156;
$green: #71ce4b;
$blue: #4ec2dd;

// Cinzas
$gray: #b4b4b4;

/* Fontes */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');
$Raleway: 'Raleway', sans-serif;

/* Estilos padrão */
 
/* Mixins */

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin list-format {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*  Animações */

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(-250px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-250px);
  } 
}

@keyframes bodyInRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(250px);
  }
}

@keyframes bodyOutRight {
  0% {
    transform: translateX(250px);
  }

  100% {
    transform: translateX(0);
  } 
}

/* Corpo */

html,
body {
  overflow-X: hidden;
  scroll-behavior: smooth;

  &.modal-active,
  &.menu-active {
    overflow-y: hidden;
    padding-right: 0 !important;
  }
}

body {
  font-family: $Raleway;
  color: $gray;
  margin: 0;

  &,
  span,
  p,
  label {
    font-size: 14px;
  }
}

*,
*::focus,
*::active,
*::visited,
*::hover,
::before,
::after {
  outline: none !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Títulos, parágrafos e links */

h1,
h2,
h3,
h4 {
  font-family: $Raleway;
  margin: 0 0 22px;
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

p {
  line-height: 1.8em
}

a {
  &,
  &:hover,
  &:active
  &:visited,
  &:focus {
    text-decoration: none;
    transition: .5s;
  }
}

// Inputs 

input,
select,
textarea {
    font-family: $Raleway;
    border: 0;
    padding: 16px;
    box-shadow: 0px 2px 6px 0 lighten($gray, 20);
    border-radius: 4px;    
    
    &:focus {
      outline: none;
    }

    &::placeholder{
      color: lighten($gray, 10);  
    }
}

// Botões

.btn {
  &,
  &:hover,
  &:active,
  &:focus {
    white-space: wrap;
    border-radius: 4px;
    padding: 10px 20px;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    font-family: $Raleway;
    outline: none;
    border: 0;
    min-width: 120px;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.btn-big {
    padding: 10px 14px;
    font-size: 1.4em;
  }
}

.btn-primary {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: $blue;
    border-color: $blue;

    &:hover {
      background-color: transparent;
    }
  }
}

.btn-success {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: $green;
    border: 1px solid $green;
    border-bottom-color: darken($green, 20);
    color: #fff;
  }

  &:hover {
    color: $green;
    background-color: transparent;
  }
}

.btn-dark {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: $darkblue;
    border: 1px solid $darkblue;
    border-bottom-color: darken($darkblue, 20);
    color: #fff;
  }

  &:hover {
    color: $darkblue;
    background-color: transparent;
  }
}

/*** ESTILO DOS COMPONENTES ***/

// Image
figure {
  margin: 0;
}

.img-wrap {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;

  img {
    width: 100%;
    height: auto;
  }
}

// Menu

.menu-list {
  li {
    display: inline-block;
    margin-right: 22px;

    a {
      color: $gray;
      font-size: 1.05rem;
      font-weight: 300;

      &:hover {
        color: $blue;
      }
    }

    &.highlight a {
      text-transform: uppercase;
      color: $blue;
      font-weight: 700;

      &:hover {
        color: $gray;
      }
    }
  }
}

.menu-button {
  display: none;
  z-index: 2;

  span {
    display: block;
    width: 28px;
    height: 1px;
    margin-bottom: 8px;
    background-color: $blue;
  }

  &.active span {
    background-color: #fff;
    
    &:first-child {
      transform: rotate(45deg) translate(5px, 5px);
    }
    
    &:nth-child(2){
      background-color: transparent;
    }

    &:last-child {
      transform: rotate(-45deg) translate(7px, -8px);
    }
  }
}


@media screen and (max-width: 768px){
  // Menu mobile
  .menu-wrapper {
    background-color: rgba(#000, .4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    transition: .5s;
    animation: fadeOut .8s ease-in;
    

    .menu-list {
      background-color: #fff;
      width: 250px;
      height: 100%;
      margin-top: 0;
      padding: 0;
      animation: fadeOutRight .4s ease;

      li {
        display: block;
        padding: 0;
        border-bottom: 1px solid lighten($gray, 20);

        a {
          display: block;
          padding: 12px;
        }
      }
    }

    &.active {
      animation: fadeIn .8s ease-out;
      animation-fill-mode: both;
  
      .menu-list {
        animation: fadeInRight .4s ease;
        display: block;
        z-index: 1;
      }
    }
  }

  .menu-button {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 260px;
    top: 32px;
    animation: fadeOutRight .4s ease;
    animation-fill-mode: both;

    &.active {
      animation: fadeInRight .4s ease;
      z-index: 11;
    }
  }
}

// Breadcrumb
.breadcrumb {
  padding: 15px 0;

  .item {
    display: inline-block;

    &:after {
      content: '>';
      color: lighten($gray, 20);
      margin: 0 12px;
    }

    &:last-child:after {
      content: none;
    }
  }

  a,
  span {
    font-weight: 900;
    font-size: .9em;
    color: $gray;
  }

  span {    
    color: $blue;   
  }
}

// SearchForm

.search-form {
  position: relative;

  input {
    background: url('../img/search.svg') left 15px center/18px no-repeat;
    padding-left: 52px;
    font-weight: 300;
    font-size: .9rem;

    &:placeholder{
      color: lighten($gray, 20);
    }
  }
}

// Autocomplete

.suggestions {
    border: 1px solid $gray;
    background-color: #fff;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 100%;
    position: absolute;

    li {
        padding: 0.5rem;

        &.suggestion-active,
        &:hover {
            background-color: $darkblue;
            color: #fff;
            cursor: pointer;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid #999;
        }
    }
}

// Product Box
.product-box {
  width: calc(33.33333% - 12px);
  background-color: lighten($gray, 27);
  padding: 8px;
  margin-right: 12px;
  transition: .5s;

  &:hover {
    transform: scale(1.05); 
    transition: .5s;
  }

  a {
    color: $gray;
  }

  &:last-child {
    margin-right: 0;
  }

  p {
    font-size: .8em;
    margin: 0;
  }

  .description {
    height: 60px;
  }

  .price {
    margin-bottom: 60px;
  }

  .new-price {
    color: $blue;
    font-size: 1.4em;
    font-weight: 900;
  }
}

@media screen and (max-width: 590px){
    .product-box {
      width: 100%;
      max-width: 320px;
      margin: 0 0 12px;
    }
}

// Product Image
.product-images {
  display: flex;

  .product-mini {
    flex-shrink: 0;
  }

  .product-image-wrapper {
    overflow: hidden;
    border: 1px solid lighten($gray, 20);
    width: 470px;
    height: 402px;
  }

  .product-big {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    flex-shrink: 0;
    margin: auto;
  }
}

@media screen and (max-width: 590px){
  .product-images {
    .product-image-wrapper {
      width: 320px;
      height: 320px;
    }
  }  
}