// Os estilos dos components estão em general.scss
@import 'general';

header {
	padding: 15px 0;
	border-bottom: 1px solid lighten($gray, 20);

	.container {
		@include align-center;
		justify-content: space-between;
	}

	.header-left,
	.header-right {
		@include align-center;
	}
}

.logo {
	max-width: 70px;
	flex-shrink: 0;
}

.search-form input {
	min-width: 420px;
}

.cart {
	position: relative;
	margin-left: 32px;
	flex-shrink: 0;

	img {
		max-width: 32px;
	}

	.counter {
		background-color: $blue;
		color: #fff;
		font-size: .8rem;
		border-radius: 50%;

		position: absolute;
		width: 18px;
		height: 18px;
		right: -6px;
		top: -6px;
		font-weight: 700;

		@include flex-center;
	}
}

// MEDIA QUERIES

@media screen and (max-width: 992px){
	.search-form input {
		min-width: auto;
	}
}

@media screen and (max-width: 768px){
	header {
		padding: 15px 0;
		border-bottom: 1px solid lighten($gray, 20);

		.container {
			flex-flow: row wrap;
		}

		.header-left,
		.header-right {
			width: 100%;
			justify-content: center;
 		}

		.header-left {
			padding-left: 0;
		}

		.logo {
			margin-bottom: 22px;
		}
	}

	// Menu mobile
	.menu-wrapper {
		background-color: rgba(#000, .4);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100vh;
		display: none;

		.menu-list {
			background-color: #fff;
			width: 320px;
			height: 100%;
			margin-top: 0;
			padding: 0;

			li {
				display: block;
				width: 100%;
				padding: 12px;
				box-sizing: border-box;
				border-bottom: 1px solid lighten($gray, 20);
			}
		}

		&.active {
			display: block;
		}
	}

	.menu-button {
		display: block;
		cursor: pointer;
		position: absolute;
		left: 12px;
		top: 32px;
	}
}


@media screen and (max-width: 590px){
  .search-form input {
    min-width: auto;
  }
}
