// Os estilos dos components estão em general.scss
@import 'general';

.modal-bg {
	position: absolute;
	background-color: rgba(#000, .4);
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	@include flex-center;
	display: none;

	&.active {
		display: flex;
	}

	.modal {
		background-color: #fff;
		padding: 42px 22px;
		border-radius: 4px;
		text-align: center;
		max-width: 270px;

		.img-wrap {
			width: 60px;
			margin: auto;
		}

		.img-wrap,
		p {
			margin-bottom: 50px;
		}

		p {
			text-transform: uppercase;
			color: $blue;
			font-weight: 800;
			font-size: 1.6em;
		}
	}
}